@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  background-color: #2a0944;
  margin: 0;
  font-family: "BWO", "sans-serif";
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "BWO";
  src: url("./font/Aquire-BW0ox.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
