@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  background-color: #12203d;
  margin: 0;
  font-family: "Barking At Stars Straight", "sans-serif";
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Barking At Stars Straight";
  src: url("./font/BarkingAtStarsStraight-8MlK2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
